<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/home_styles.css" />
    <title>Welcome</title>
    <link rel="icon" href="pulse-icon.ico">

  </head>
  <body style="background-image: url('/images/background.jpg'); background-size: cover;">

    <div class="container">
      <nav>
        <ul>
          <li id="about">/About</li>
          <li id="contact">/Review</li>
        </ul>
      </nav>

      <main>
        <h1>Jo Directory:<span class="cursor">|</span></h1>
        <h3>Project-list:</h3>
        

    <div class="hidden">
      <div id="about-content">
        <h2>About Jo Directory:<span class="cursor">|</span></h2>
        <p>jojo directory is a project which focuses on <b>analysis</b>, <b>assessment</b> and <b>representation</b> of data</p>
        <p>
          Some of the languages that are used in this project are HTML, CSS, JS, Python, SQL etc..
        </p>
      </div>

      <div id="contact-content">
        <h2>Review-Us:<span class="cursor">|</span></h2>
        <p>You can Review our Projects</p>
        <p>Click on the below given link to jump to our Review page</p>
        <a href="http://127.0.0.1:5000/ ">Review-Page</a>
      </div>
    </div>

    <script src="/js/winbox.js"></script>
    <script src="/js/home_script.js"></script>
  </body>
</html>